<div id="track-show-container" data-track-id="<%= @track.id %>" >

  <div class="track-details">
    <h1><%= @track.name %></h1>
    <h2>Track Points</h2>
    <div class="points">
      <ol>
        <% @track.points.each_with_index do |point, i| %>
          <li id="<%= dom_id point %>" class="point">
            <a href='#points/<%= point.id %>' class="map-point" data-id="<%= point.id %>">
              <%= l(point.recorded_at, format: :h_mm_ss) %>
            </a>
            <span class="date">- <%= point.recorded_at.strftime('%b %-d') %></span>
          </li>
        <% end %>
      </ol>
    </div>

  </div>

  <div class="track-map">
    <div id="g-map"></div>
  </div>

</div>