<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= Rails.configuration.x.application_name.title %></title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600" rel="stylesheet">

    <%# HTML5 shim for IE8 support of HTML5 elements %>
    <!--[if lt IE 9]>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
      <%= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'respond', 'data-turbolinks-track' => true %>
    <![endif]-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'shared/google_maps_api' if google_maps_api? %>
  </head>

  <body class="<%= page_classes %>">
    <%= render 'shared/header' %>

    <div id="main">
      <% if (controller_name == 'tracks' && action_name == 'show') %>
        <%= yield %>
      <% else %>
        <div class="container">
          <div class="row">
            <div class="<%=devise_controller? ? 'col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3' : 'col-xs-12' %>">
              <%= yield %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
